* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1250px;
    margin: auto;
}

header {
    border: 1px solid #0000000F;
    /* border: 1px solid red; */
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;

}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
}

.common-btn {
    background-color: #1d4ed8FF;
    border-radius: 10px;
    padding: 12px 28px;
    font-weight: 700;
    /* font-size: 20px; */
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-align: center;
    /* height: 60px;
    width: 190px; */
}

main {
    position: relative;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 786px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.content {
    position: relative;
    text-align: center;
}

.content h1 {
    padding: 120px 0px 22px 0px;
    font-size: 75px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.content p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 400px 0px 380px;
    padding-bottom: 325px;

}

.content button {
    font-size: 24px;
    padding: 17px 45px 17px 45px;
}

.speaker-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.speakers h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    /* border: 2px solid red; */
}

.speaker-child{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.speaker-child img {
    border-radius: 12px 12px 0 0;
}

.speaker-child span{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color:#2563ebFF;
    padding: 20px 0px 0px 20px;
}

.speaker-child h3{
    font-size: 20px;
    font-weight: 700;
    color: #0d1b2aFF;
    padding: 8px 0px 0px 19px;
}

.speaker-child p{
    font-size: 14px;
    font-weight: 400;
    color: #575757FF;
    padding: 8px 0px 27px 19px;
}

.card-parent{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 110px;
    gap: 35px;
}



.pricing h2 {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin-top: 160px;
    /* border: 2px solid red; */
}

.pricing p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color:  #575757;
    padding: 12px 0px 50px 0px;
}


.card-child1, .card-child2, .card-child3{
    border: 2px solid red;
    padding: 0px 30px 30px 28px;
    width: 280px;
}
.card-parent p{ 
    text-align: left;
    color: #888888;
    font-size: 13px;
    font-weight: 600;
    padding: 30px 0px 0px 6px;
} 

.card-parent h3{
    color: #0d1b2a;
    font-size: 38px;
    font-weight: 700;
    padding: 8px 0px 0px 5px;
}

.card-parent span{
    display: block;
    color:#888888;
    font-size: 13px;
    padding: 5px 0px 25px 6px;
    border-bottom: 1px solid #cac8c8;;
}

.card-parent ul{
    padding: 20px;
    font-size: 14px;
    color: #333333;
    line-height: 2.0;
}

.card-parent li::marker {
  color: blue;
}